@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron bg-info">
        <h1 class="display-4">Hello! I'm Ian Gregory</h1>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col">
            <img class="center-block" style=" width: 350px; height: 200px" src="~/Content/Ian_Photo.jpg" />
        </div>
        <div class="col"></div>
    </div>
</div>
